**Projekt PAD s18803**

In [60]:
import pandas as pd
import numpy as np

messydata_df = pd.read_csv("messy_data.csv", sep=",")

In [61]:
#sprawdzamy przykładowe dane
messydata_df.sample(5)

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
58,NaN,i1,H,good,5.9,5.88,3.63,62.4,,2100
20,NaN,VVS1,f,Ideal,6.1,6.15,3.9,61.8,57,6000
160,1.1,VVS2,F,fair,6.8,6.79,4.21,,57,9400
6,0.5,if,D,Ideal,5.1,,3.2,61.5,57,3100
166,0.9,si2,G,Premium,6.3,6.31,3.90,,58,6900

***1.d Braki w danych***

In [3]:
#zamiana pustych wartości na NaN
messydata_df = messydata_df.replace(r'^\s*$', np.nan, regex=True)

***1.f Usunięcie niepotrzebnych spacji z nazw kolumn i niektórych wartości***

In [4]:
#usunięcie spacji z nazw kolumn (bo nie działa zmiana typu kolumn)
messydata_df.rename(columns=lambda x: x.strip(), inplace=True)
#usunięcie spacji z wartości w kolumnach, w których ma to znaczenie (bo bez tego nie działa ujednolicenie danych)
messydata_df["clarity"]=messydata_df["clarity"].str.strip()
messydata_df["color"]=messydata_df["color"].str.strip()
messydata_df["cut"]=messydata_df["cut"].str.strip()

***1.f Zmiana typu kolumn***

In [5]:
## Zamiana typu kolumn
messydata_df["clarity"] = messydata_df["clarity"].astype("category")
messydata_df["color"] = messydata_df["color"].astype("category")
messydata_df["cut"] = messydata_df["cut"].astype("category")
messydata_df["x dimension"] = messydata_df["x dimension"].astype("float64")
messydata_df["y dimension"] = messydata_df["y dimension"].astype("float64")
messydata_df["z dimension"] = messydata_df["z dimension"].astype("float64")
messydata_df["depth"] = messydata_df["depth"].astype("float64")
messydata_df["table"] = messydata_df["table"].astype("float64")
messydata_df["price"] = messydata_df["price"].astype("float64")

***1.f Zmiana nazw kolumn***

In [6]:
#zmiana nazw kolumn, aby nie miały spacji (bo bez tego mam problem ze zrobieniem regresji)
messydata_df.rename(columns={'x dimension': 'x_dimension', 'y dimension': 'y_dimension', 'z dimension': 'z_dimension'}, inplace=True)

In [7]:
## Sprawdzenie typu kolumn
messydata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   carat        150 non-null    float64
 1   clarity      200 non-null    category
 2   color        200 non-null    category
 3   cut          200 non-null    category
 4   x_dimension  197 non-null    float64
 5   y_dimension  136 non-null    float64
 6   z_dimension  152 non-null    float64
 7   depth        133 non-null    float64
 8   table        167 non-null    float64
 9   price        196 non-null    float64
dtypes: category(3), float64(7)
memory usage: 13.3 KB

***1.c Spójność***

In [8]:
#Unikalne wartości w kolumnie "clarity"
messydata_df["clarity"].value_counts()

clarity
i1      26
VVS1    23
si2     23
IF      20
VVS2    19
si1     18
vvs2    18
Si2     16
Si1     12
vvs1    11
I1       5
SI2      5
if       3
Vvs1     1
Name: count, dtype: int64

In [9]:
#Ujednolicenie danych w kolumnie "clarity"
messydata_df["clarity"].replace("i1", "I1", inplace=True)
messydata_df["clarity"].replace(["si2", "Si2"], "SI2", inplace=True)
messydata_df["clarity"].replace(["si1", "Si1","sI1"], "SI1", inplace=True)
messydata_df["clarity"].replace(["if"], "IF", inplace=True)
messydata_df["clarity"].replace(["vvs1","Vvs1"], "VVS1", inplace=True)
messydata_df["clarity"].replace(["vvs2"], "VVS2", inplace=True)
messydata_df["clarity"].value_counts()

clarity
SI2     44
VVS2    37
VVS1    35
I1      31
SI1     30
IF      23
Name: count, dtype: int64

In [10]:
#Unikalne wartości w kolumnie "color"
messydata_df["color"].value_counts()

color
G            36
I            33
H            30
F            24
D            13
E            13
e            12
d             9
colorless     6
f             6
j             6
g             4
h             4
Colorless     2
J             2
Name: count, dtype: int64

In [11]:
#Ujednolicenie danych w kolumnie "color"
messydata_df["color"].replace("g", "G", inplace=True)
messydata_df["color"].replace("h", "H", inplace=True)
messydata_df["color"].replace("j", "J", inplace=True)
messydata_df["color"].replace("e", "E", inplace=True)
messydata_df["color"].replace("d", "D", inplace=True)
messydata_df["color"].replace("f", "F", inplace=True)
messydata_df["color"].replace("colorless", "Colorless", inplace=True)
messydata_df["color"].value_counts()

color
G            40
H            34
I            33
F            30
E            25
D            22
Colorless     8
J             8
Name: count, dtype: int64

In [12]:
#Unikalne wartości w kolumnie "cut"
messydata_df["cut"].value_counts()

cut
Premium      34
Good         30
fair         24
Ideal        23
good         21
very good    19
Fair         12
Very good    10
Very Good     9
ideal         9
premium       7
very Good     2
Name: count, dtype: int64

In [13]:
#Ujednolicenie danych w kolumnie "cut"
messydata_df["cut"].replace("fair", "Fair", inplace=True)
messydata_df["cut"].replace(["very Good","Very good", "very good"], "Very Good", inplace=True)
messydata_df["cut"].replace("good", "Good", inplace=True)
messydata_df["cut"].replace("premium", "Premium", inplace=True)
messydata_df["cut"].replace("ideal", "Ideal", inplace=True)
messydata_df["cut"].value_counts()

cut
Good         51
Premium      41
Very Good    40
Fair         36
Ideal        32
Name: count, dtype: int64

***1.a Duplikaty***

In [14]:
##sprawdzamy ilość zduplikowanych rekordów
print('ilość zduplikowanych rekordów: ' + str(messydata_df.duplicated().sum()))

ilość zduplikowanych rekordów: 0

In [15]:
#robimy subset duplikatów dla danych zawierających wymiary i kolor, ponieważ jest to mało prawdopodobne, że taka kombinacja się powtórzy
dupl_subset = ["color","x_dimension", "y_dimension", "z_dimension"]

In [16]:
##sprawdzamy duplikaty 
duplicates = messydata_df.duplicated(dupl_subset, keep=False)
messydata_df[duplicates]

,carat,clarity,color,cut,x_dimension,y_dimension,z_dimension,depth,table,price
14,0.55,SI2,H,Good,5.3,5.29,NaN,62.0,NaN,1800.0
41,NaN,IF,F,Premium,6.2,NaN,3.84,61.9,58.0,5900.0
102,0.55,VVS1,H,Good,5.3,5.29,NaN,62.1,58.0,3100.0
129,NaN,VVS1,E,Premium,6.3,NaN,3.90,62.3,59.0,7800.0
141,1.15,SI1,F,Very Good,6.9,6.88,4.27,NaN,56.0,9600.0
154,1.20,SI2,F,Premium,6.9,6.88,4.27,62.5,56.0,10100.0
169,0.85,VVS2,F,Premium,6.2,NaN,3.84,NaN,59.0,6600.0
193,NaN,VVS2,E,Good,6.3,NaN,3.90,NaN,58.0,7700.0

In [17]:
##usuwamy duplikaty zostawiajac ten ostatnio wprowadzony do danych (keep='last')
messydata_df.drop_duplicates(dupl_subset, keep='last', inplace=True)
messydata_df[duplicates].tail()

C:\Users\Michal\AppData\Local\Temp\ipykernel_3136\2356646140.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  messydata_df[duplicates].tail()

,carat,clarity,color,cut,x_dimension,y_dimension,z_dimension,depth,table,price
102,0.55,VVS1,H,Good,5.3,5.29,NaN,62.1,58.0,3100.0
154,1.20,SI2,F,Premium,6.9,6.88,4.27,62.5,56.0,10100.0
169,0.85,VVS2,F,Premium,6.2,NaN,3.84,NaN,59.0,6600.0
193,NaN,VVS2,E,Good,6.3,NaN,3.90,NaN,58.0,7700.0

***1.b Eliminacja wartości odstających***

In [18]:
#Wartości odstające wybrałem ręcznie. Usuwamy 3 wartości dla ceny znacznie większe od pozostałych, które psuły wygląd wykresu zawierającego cenę
messydata_df = messydata_df[messydata_df["price"] <= 12500]

***1.f Zamiana wartości NaN na medianę***

In [19]:
for column in messydata_df.columns:
    if messydata_df[column].dtype != 'category':
        messydata_df[column] = messydata_df[column].fillna(messydata_df[column].median())

***Eksportowanie oczyszczonych danych***

In [20]:
messydata_df.to_csv('clean_data.csv', sep=',')